table {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

div {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
}

button {
    float: left;
    position: relative;
    background-color: #1f5921;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

button:hover {
    background-color: rgb(74, 184, 52);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    width: 350px;
    float: left;
    display: block;
    opacity: 1
}

button:active {
    background-color: #2bff00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}